@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(109 40 217 / 1);
  --bg-light: #f4f7fc;
  --gray: #4b5563;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  background-color: var(--bg-light);
  color: var(--gray);
}

a {
  display: inline-block;
  color: var(--gray);
}

.container {
  width: min(100%, 1170px);
  padding: 0px 15px;
  margin: 0 auto;
}

/* Dropdown Link */
.dropdown-link {
  @apply flex items-center gap-2 py-2 px-3 hover:bg-gray-100 text-lg font-medium;
}
.dropdown-link:hover {
  color: var(--primary);
}
