*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #77a6f6;
  --bg-light: #f4f7fc;
  --dark: #444;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  background-color: var(--bg-light);
  color: var(--dark);
}
